@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
  font-family: "Inter", sans-serif;
}

.about-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
}

.signin-frame {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    animation: moveUp 0.5s ease-in-out forwards, fadeAni 0.5s ease-in-out forwards;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="checkbox"] {
    margin-right: 8px; /* space between checkbox and text */
    margin-top: 10px;  /* space above */
    margin-bottom: 20px; /* space below */
    cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  background-image: linear-gradient(45deg, green, cyan);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

button:hover {
    filter: brightness(0.8);
}

.label-un, .label-pw {
display: block;
margin-top: 10px;
margin-bottom: 5px;
font-weight: bold;
}

.fp-link {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    font-size: 15px;
    margin-top: 10px;
}

.ca-link {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    font-size: 15px;
}

.extra-things {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes moveUp {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-30);
    }
}

@keyframes fadeAni {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}